# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

# 添加例外 Indentation override for all JS under plugins directory
# [{package.json,*/src/statics/plugins/lib/*,*/src/statics/plugins/smallLib/*,*/resources/*}]
# indent_style = space
# indent_size = 4
